.env
output/
.vscode/
venv/
kepler.log
__pycache__

# Auditoría y Reportes
audit-workspace/

# Datos crudos y temporales
data/
postgres_data/
logs/

# Entornos y binarios
venv/
**/.git
**/__pycache__
scripts/
**/target/

# IDEs
.idea/
*.iml
.metadata/

# Jupyter
**/.ipynb_checkpoints/